In [ ]:
!pip install yfinance

In [5]:
import yfinance as yf

In [6]:
tcs = yf.Ticker('tcs.ns')

In [6]:
tcs.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,Invesco Developing Markets Fund,31072921,2022-01-31,0.0085,116096201086
1,Vanguard International Stock Index-Emerging Ma...,14389378,2022-01-31,0.0039,53762313552
2,Vanguard International Stock Index-Total Intl ...,13442581,2022-01-31,0.0037,50224843261
3,iShares Core MSCI Emerging Markets ETF,7845215,2021-12-31,0.0021,29328159495
4,JP Morgan Emerging Markets Equity Fund,6652099,2022-01-31,0.0018,24853904888
5,iShares MSCI India ETF,5611984,2022-01-31,0.0015,20967775220
6,"New World Fund, Inc.",5549300,2022-01-31,0.0015,20733572125
7,MFS Series Trust X-MFS Emerging Markets Equity...,4090955,2021-11-30,0.0011,14437593838
8,MFS Institutional International Equity Fund,3618539,2021-12-31,0.0010,13527365270
9,iShares MSCI Emerging Markets ETF,3394444,2022-01-31,0.0009,12682491395

In [7]:
tcs.major_holders

        0                                      1
0  72.21%        % of Shares Held by All Insider
1  16.01%       % of Shares Held by Institutions
2  57.61%        % of Float Held by Institutions
3     343  Number of Institutions Holding Shares

In [8]:
tcs.financials

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,437600000000.0,422480000000.0,415630000000.0,340920000000.0
Minority Interest,6750000000.0,6230000000.0,4530000000.0,4020000000.0
Net Income,324300000000.0,323400000000.0,314720000000.0,258260000000.0
Selling General Administrative,21310000000.0,27020000000.0,42620000000.0,39380000000.0
Gross Profit,709010000000.0,690920000000.0,659470000000.0,540080000000.0
Ebit,424820000000.0,385810000000.0,374560000000.0,305180000000.0
Operating Income,424820000000.0,385810000000.0,374560000000.0,305180000000.0
Other Operating Expenses,222230000000.0,242800000000.0,221730000000.0,175380000000.0
Interest Expense,-6370000000.0,-9240000000.0,-1980000000.0,-520000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,111980000000.0,98010000000.0,100010000000.0,82120000000.0
Total Revenue,1641770000000.0,1569490000000.0,1464630000000.0,1231040000000.0
Total Operating Expenses,1216950000000.0,1183680000000.0,1090070000000.0,925860000000.0
Cost Of Revenue,932760000000.0,878570000000.0,805160000000.0,690960000000.0
Total Other Income Expense Net,12780000000.0,36670000000.0,41070000000.0,35740000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,325620000000.0,324470000000.0,315620000000.0,258800000000.0
Net Income Applicable To Common Shares,324300000000.0,323400000000.0,314720000000.0,258260000000.0

In [9]:
tcs.quarterly_financials

,2021-12-31,2021-09-30,2021-06-30,2021-03-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,131910000000.0,129690000000.0,121630000000.0,125270000000.0
Minority Interest,6920000000.0,6690000000.0,6680000000.0,6750000000.0
Net Income,97690000000.0,96240000000.0,90080000000.0,92460000000.0
Selling General Administrative,5730000000.0,4920000000.0,5160000000.0,5620000000.0
Gross Profit,212850000000.0,202700000000.0,195040000000.0,196260000000.0
Ebit,122370000000.0,119910000000.0,115880000000.0,117340000000.0
Operating Income,122370000000.0,119910000000.0,115880000000.0,117340000000.0
Other Operating Expenses,72790000000.0,66710000000.0,63250000000.0,62630000000.0
Interest Expense,-2510000000.0,-1420000000.0,-1460000000.0,-1380000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,33850000000.0,33160000000.0,31320000000.0,32450000000.0
Total Revenue,488850000000.0,468670000000.0,454110000000.0,437050000000.0
Total Operating Expenses,366480000000.0,348760000000.0,338230000000.0,319710000000.0
Cost Of Revenue,276000000000.0,265970000000.0,259070000000.0,240790000000.0
Total Other Income Expense Net,9540000000.0,9780000000.0,5750000000.0,7930000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,98060000000.0,96530000000.0,90310000000.0,92820000000.0
Net Income Applicable To Common Shares,97690000000.0,96240000000.0,90080000000.0,92460000000.0

In [10]:
tcs.balance_sheet

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Intangible Assets,4.800000e+09,2.830000e+09,1.790000e+09,1.200000e+08
Total Liab,4.365100e+11,3.615000e+11,2.504400e+11,2.076600e+11
Total Stockholder Equity,8.643300e+11,8.412600e+11,8.944600e+11,8.512800e+11
Minority Interest,6.750000e+09,6.230000e+09,4.530000e+09,4.020000e+09
Deferred Long Term Liab,2.280000e+09,2.860000e+09,1.740000e+09,9.500000e+08
Other Current Liab,1.329700e+11,9.520000e+10,7.629000e+10,5.801000e+10
Total Assets,1.307590e+12,1.208990e+12,1.149430e+12,1.062960e+12
Common Stock,3.700000e+09,3.750000e+09,3.750000e+09,1.910000e+09
Other Current Assets,2.224000e+10,1.971000e+10,2.087000e+10,1.353000e+10
Retained Earnings,8.255800e+11,8.080600e+11,8.688900e+11,8.301400e+11
Other Liab,2.993000e+10,2.184000e+10,2.916000e+10,2.884000e+10
Good Will,1.798000e+10,1.710000e+10,1.700000e+10,1.745000e+10
Treasury Stock,3.505000e+10,2.945000e+10,2.182000e+10,1.923000e+10
Other Assets,8.775000e+10,8.438000e+10,9.501000e+10,1.170500e+11
Cash,6.858000e+10,8.646000e+10,7.224000e+10,4.883000e+10
Total Current Liabilities,3.415500e+11,2.706000e+11,2.208400e+11,1.782800e+11
Deferred Long Term Asset Charges,3.931000e+10,2.828000e+10,2.656000e+10,3.449000e+10
Other Stockholder Equity,3.505000e+10,2.945000e+10,2.182000e+10,1.923000e+10
Property Plant Equipment,1.966900e+11,1.984100e+11,1.137400e+11,1.149400e+11
Total Current Assets,9.928000e+11,9.023700e+11,9.213100e+11,8.122400e+11
Long Term Investments,7.570000e+09,3.900000e+09,5.800000e+08,1.160000e+09
Net Tangible Assets,8.415500e+11,8.213300e+11,8.756700e+11,8.337100e+11
Short Term Investments,2.651800e+11,2.525300e+11,5.939000e+10,2.056000e+10
Net Receivables,5.408900e+11,5.115700e+11,4.762700e+11,3.610400e+11
Inventory,8.000000e+07,5.000000e+07,1.000000e+08,2.600000e+08
Accounts Payable,7.860000e+10,6.740000e+10,6.292000e+10,5.094000e+10

In [11]:
tcs.quarterly_balance_sheet

,2021-12-31,2021-09-30,2021-06-30,2021-03-31
Intangible Assets,1.160000e+10,4.850000e+09,4.590000e+09,4.800000e+09
Total Liab,4.562000e+11,4.464400e+11,4.532700e+11,4.365100e+11
Total Stockholder Equity,1.039000e+12,9.695700e+11,9.006300e+11,8.643300e+11
Minority Interest,6.920000e+09,6.690000e+09,6.680000e+09,6.750000e+09
Deferred Long Term Liab,1.500000e+09,1.580000e+09,2.050000e+09,2.280000e+09
Other Current Liab,1.452100e+11,1.395800e+11,1.421600e+11,1.329700e+11
Total Assets,1.502120e+12,1.422700e+12,1.360580e+12,1.307590e+12
Common Stock,3.700000e+09,3.700000e+09,3.700000e+09,3.700000e+09
Other Current Assets,2.670000e+10,2.264000e+10,2.684000e+10,2.224000e+10
Retained Earnings,1.002530e+12,9.303400e+11,8.589500e+11,8.255800e+11
Other Liab,3.288000e+10,2.783000e+10,2.930000e+10,2.993000e+10
Good Will,1.743000e+10,1.777000e+10,1.842000e+10,1.798000e+10
Treasury Stock,3.277000e+10,3.553000e+10,3.798000e+10,3.505000e+10
Other Assets,9.025000e+10,9.068000e+10,8.684000e+10,8.775000e+10
Cash,5.992000e+10,5.195000e+10,6.707000e+10,6.858000e+10
Total Current Liabilities,3.577100e+11,3.506500e+11,3.562300e+11,3.415500e+11
Deferred Long Term Asset Charges,2.915000e+10,2.996000e+10,3.505000e+10,3.931000e+10
Other Stockholder Equity,3.277000e+10,3.553000e+10,3.798000e+10,3.505000e+10
Property Plant Equipment,1.970300e+11,1.978400e+11,1.989900e+11,1.966900e+11
Total Current Assets,1.178970e+12,1.103990e+12,1.044060e+12,9.928000e+11
Long Term Investments,6.840000e+09,7.570000e+09,7.680000e+09,7.570000e+09
Net Tangible Assets,1.009970e+12,9.469500e+11,8.776200e+11,8.415500e+11
Short Term Investments,4.063900e+11,3.009200e+11,2.971400e+11,2.651800e+11
Net Receivables,5.401800e+11,5.633000e+11,5.501600e+11,5.408900e+11
Inventory,1.900000e+08,1.400000e+08,1.100000e+08,8.000000e+07
Accounts Payable,7.311000e+10,8.177000e+10,8.010000e+10,7.860000e+10

In [12]:
tcs.cashflow

,2021-03-31,2020-03-31,2019-03-31,2018-03-31
Investments,-4.670000e+10,8.389000e+10,4.068000e+10,4.383000e+10
Change To Liabilities,9.980000e+09,8.210000e+09,2.175000e+10,7.580000e+09
Total Cashflows From Investing Activities,-8.129000e+10,8.565000e+10,1.596000e+10,2.886000e+10
Net Borrowings,-1.336000e+10,-1.062000e+10,-1.940000e+09,-4.300000e+08
Total Cash From Financing Activities,-3.263400e+11,-3.991500e+11,-2.789700e+11,-2.688500e+11
Change To Operating Activities,-1.191000e+10,-1.690000e+10,-2.763000e+10,2.312000e+10
Net Income,3.243000e+11,3.234000e+11,3.147200e+11,2.582600e+11
Change In Cash,-1.788000e+10,1.422000e+10,2.341000e+10,1.286000e+10
Repurchase Of Stock,-1.972600e+11,-1.972600e+11,-1.600000e+11,-1.600000e+11
Effect Of Exchange Rate,1.730000e+09,4.030000e+09,4.900000e+08,2.180000e+09
Total Cash From Operating Activities,3.880200e+11,3.236900e+11,2.859300e+11,2.506700e+11
Depreciation,4.065000e+10,3.529000e+10,2.056000e+10,2.014000e+10
Other Cashflows From Investing Activities,-4.210000e+09,2.745000e+10,-2.900000e+09,3.070000e+09
Dividends Paid,-1.085000e+11,-3.189600e+11,-1.008500e+11,-9.284000e+10
Change To Inventory,-3.000000e+07,5.000000e+07,1.600000e+08,-5.000000e+07
Change To Account Receivables,1.059000e+10,-3.803000e+10,-1.597000e+10,-3.274000e+10
Other Cashflows From Financing Activities,-7.220000e+09,-6.957000e+10,-1.618000e+10,-1.558000e+10
Change To Netincome,1.444000e+10,1.167000e+10,-2.766000e+10,-2.564000e+10
Capital Expenditures,-2.719000e+10,-2.538000e+10,-2.053000e+10,-1.862000e+10

In [13]:
tcs.quarterly_cashflow

,2021-12-31,2021-09-30,2021-06-30,2021-03-31
Investments,-9.070000e+10,-8.062000e+10,-4.161000e+10,2.122700e+11
Change To Liabilities,-2.500000e+09,6.490000e+09,-7.990000e+09,2.700000e+10
Total Cashflows From Investing Activities,-6.150000e+10,-7.814000e+10,-4.015000e+10,1.334200e+11
Net Borrowings,-3.820000e+09,-3.540000e+09,-3.130000e+09,-3.340000e+09
Total Cash From Financing Activities,-3.145000e+10,-3.105000e+10,-6.046000e+10,-2.229000e+11
Change To Operating Activities,8.940000e+09,1.150000e+10,-1.640000e+09,-2.278000e+10
Net Income,9.769000e+10,9.624000e+10,9.008000e+10,9.246000e+10
Change In Cash,7.970000e+09,-1.512000e+10,-1.510000e+09,-3.580000e+09
Effect Of Exchange Rate,-6.800000e+08,-1.180000e+09,1.250000e+09,-1.000000e+09
Total Cash From Operating Activities,1.016000e+11,9.525000e+10,9.785000e+10,8.690000e+10
Depreciation,1.196000e+10,1.116000e+10,1.075000e+10,1.067000e+10
Other Cashflows From Investing Activities,3.818000e+10,9.620000e+09,6.910000e+09,-6.820000e+10
Dividends Paid,-2.589000e+10,-2.589000e+10,-5.549000e+10,-2.220000e+10
Change To Inventory,-5.000000e+07,-4.000000e+07,-2.000000e+07,-3.000000e+07
Change To Account Receivables,-1.290000e+10,-2.446000e+10,-4.270000e+09,-2.134000e+10
Other Cashflows From Financing Activities,-1.740000e+09,-1.620000e+09,-1.840000e+09,-1.700000e+09
Change To Netincome,-1.540000e+09,-5.640000e+09,1.094000e+10,9.200000e+08
Capital Expenditures,-6.100000e+09,-6.360000e+09,-4.920000e+09,-9.390000e+09
Repurchase Of Stock,NaN,NaN,NaN,-1.956600e+11

In [14]:
tcs.earnings

            Revenue      Earnings
Year
2018  1231040000000  258260000000
2019  1464630000000  314720000000
2020  1569490000000  323400000000
2021  1641770000000  324300000000

In [15]:
tcs.quarterly_earnings

              Revenue     Earnings
Quarter
1Q2021   437050000000  92460000000
2Q2021   454110000000  90080000000
3Q2021   468670000000  96240000000
4Q2021   488850000000  97690000000

In [16]:
tcs.sustainability

                                     Value
2022-2
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           6.58
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              105
governanceScore                       6.88
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             14.25
highestControversy                       2
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                            8.33
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.79
governancePercentile                  None
militaryContract                     False

In [20]:
tcs.recommendations

In [18]:
tcs.calendar

                                    0                    1
Earnings Date     2022-07-06 10:30:00  2022-07-11 10:30:00
Earnings Average                27.01                27.01
Earnings Low                    26.09                26.09
Earnings High                    27.7                 27.7
Revenue Average          526891000000         526891000000
Revenue Low              520279000000         520279000000
Revenue High             530550000000         530550000000

In [19]:
tcs.news

[{'link': 'https://finance.yahoo.com/news/stem-cell-global-market-growth-081800380.html',
  'providerPublishTime': 1650010680,
  'publisher': 'GlobeNewswire',
  'title': 'Stem Cell Global Market Growth Opportunities: A  $18.51 Billion Market in 2026, Registering CAGR of 9.8%',
  'type': 'STORY',
  'uuid': '1d5e1579-2cb5-3afb-bca0-389507b5d37e'},
 {'link': 'https://finance.yahoo.com/news/soi-finance-ecosystem-soi-plans-081700953.html',
  'providerPublishTime': 1650010620,
  'publisher': 'PR Newswire',
  'title': 'Soi Finance Ecosystem(SOI) Plans To Launch A New Generation Crypto Ecosystem On The Solana Platform',
  'type': 'STORY',
  'uuid': '86a95185-5cc2-3e6c-b024-09027c175bf5'},
 {'link': 'https://finance.yahoo.com/news/global-vitro-diagnostics-ivd-quality-081300810.html',
  'providerPublishTime': 1650010380,
  'publisher': 'GlobeNewswire',
  'title': 'Global In Vitro Diagnostics (IVD) Quality Control Market Growth Forecasts: A $1.54 Billion Market in 2026, with CAGR of 5.7%',
  'type': 'STORY',
  'uuid': '081f4e7c-63df-3a5d-833f-e8d5c6bbe444'},
 {'link': 'https://finance.yahoo.com/news/global-biopharmaceuticals-market-report-2022-080800451.html',
  'providerPublishTime': 1650010080,
  'publisher': 'GlobeNewswire',
  'title': 'Global Biopharmaceuticals Market Report 2022: A $974 Billion Market by 2030',
  'type': 'STORY',
  'uuid': '8cc4050d-9a07-3eb4-8ba9-815afa3613ae'},
 {'link': 'https://finance.yahoo.com/news/paladin-pandas-launch-bamb-us-080700989.html',
  'providerPublishTime': 1650010020,
  'publisher': 'Business Wire',
  'title': 'Paladin Pandas Launch $BAMB After US$4 Million Fundraise',
  'type': 'STORY',
  'uuid': 'db3764c4-f651-3ec6-9d53-bd92b1419b1e'},
 {'link': 'https://finance.yahoo.com/news/frances-macron-le-pen-call-080442953.html',
  'providerPublishTime': 1650009882,
  'publisher': 'Reuters',
  'title': 'France\'s Macron, Le Pen call Stellantis CEO\'s pay package "shocking"',
  'type': 'STORY',
  'uuid': '0ef2ebe9-fd53-330f-990e-ce443d1e68f1'},
 {'link': 'https://finance.yahoo.com/news/1-russia-pledges-more-strikes-080314349.html',
  'providerPublishTime': 1650009794,
  'publisher': 'Reuters',
  'title': 'UPDATE 1-Russia pledges more strikes on Kyiv after missile attack, says took Mariupol plant',
  'type': 'STORY',
  'uuid': 'f5968187-d67a-3f5f-ab20-d1ad6389cdf5'},
 {'link': 'https://finance.yahoo.com/news/european-e-bike-market-report-080300491.html',
  'providerPublishTime': 1650009780,
  'publisher': 'GlobeNewswire',
  'title': 'European E-Bike Market Report 2022-2028: Company Profiles of Aventon, Giant Bicycles, Haibike, Merida Bikes, Specialized Bicycle Components and Trek Bicycle Corporation',
  'type': 'STORY',
  'uuid': 'd2fe28ea-d5b9-341f-b805-1b55b1df81e0'}]

In [16]:
tm = yf.Ticker('tatamotors.ns')
bs = []
years = []
bs = tm.get_info()['trailingPE']
bs

KeyError: ignored

In [31]:
a = bs[years[0]]['Total Current Assets']
a

992800000000.0

In [32]:
aapl = yf.Ticker('aapl')

In [33]:
bs2 = aapl.get_balance_sheet()

In [34]:
bs2

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Total Liab,2.879120e+11,2.585490e+11,2.480280e+11,2.585780e+11
Total Stockholder Equity,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Other Current Liab,5.357700e+10,4.786700e+10,4.324200e+10,3.929300e+10
Total Assets,3.510020e+11,3.238880e+11,3.385160e+11,3.657250e+11
Common Stock,5.736500e+10,5.077900e+10,4.517400e+10,4.020100e+10
Other Current Assets,1.411100e+10,1.126400e+10,1.235200e+10,1.208700e+10
Retained Earnings,5.562000e+09,1.496600e+10,4.589800e+10,7.040000e+10
Other Liab,4.305000e+10,4.610800e+10,5.050300e+10,4.891400e+10
Treasury Stock,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Other Assets,3.876200e+10,3.395200e+10,3.297800e+10,2.228300e+10
Cash,3.494000e+10,3.801600e+10,4.884400e+10,2.591300e+10
Total Current Liabilities,1.254810e+11,1.053920e+11,1.057180e+11,1.159290e+11
Short Long Term Debt,9.613000e+09,8.773000e+09,1.026000e+10,8.784000e+09
Other Stockholder Equity,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Property Plant Equipment,4.952700e+10,4.533600e+10,3.737800e+10,4.130400e+10
Total Current Assets,1.348360e+11,1.437130e+11,1.628190e+11,1.313390e+11
Long Term Investments,1.278770e+11,1.008870e+11,1.053410e+11,1.707990e+11
Net Tangible Assets,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Short Term Investments,2.769900e+10,5.292700e+10,5.171300e+10,4.038800e+10
Net Receivables,5.150600e+10,3.744500e+10,4.580400e+10,4.899500e+10
Long Term Debt,1.091060e+11,9.866700e+10,9.180700e+10,9.373500e+10
Inventory,6.580000e+09,4.061000e+09,4.106000e+09,3.956000e+09
Accounts Payable,5.476300e+10,4.229600e+10,4.623600e+10,5.588800e+10

In [14]:
abc = [['abc'],['xyz']]
for i, li in enumerate(abc):
  print(i, li)

0 ['abc']
1 ['xyz']